name: CI tests

on:
  push:
    paths:
      - '**'
      - '!.github/**'
      - '.github/workflows/ci.yml'
  pull_request:
    paths:
      - '**'
      - '!.github/**'
      - '.github/workflows/ci.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)


jobs:
  sdist:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: "3.12"

    - name: Install Dependency
      run: |
        python -m pip install -U pip setuptools && python -m pip install -r requirements.txt

    - name: Build sdist
      run: make sdist

    - name: Archive sdist
      uses: actions/upload-artifact@v5
      with:
        name: sdist
        path: dist/*.tar.gz
        if-no-files-found: ignore

  Tests:
    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false

      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.13t"
        - "3.14"
        - "3.14t"
        - "3.15-dev"
        - "3.15t-dev"
        os: ["ubuntu-latest"]

        #include:
        #- python-version: "3.7"
        #  os: ubuntu-22.04
        #- python-version: "3.14-dev"
        #  allowed_failure: true

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependency
      run: |
        python -m pip install -U pip setuptools && python -m pip install -r requirements.txt

    - name: Build
      continue-on-error: ${{ matrix.allowed_failure || false }}
      run: make local

    - name: Run slow tests
      continue-on-error: ${{ matrix.allowed_failure || false }}
      run: make testslow

    - name: Running benchmark
      if: startsWith(matrix.python-version, '3.')
      run: |
        # Run different benchmarks.
        date; echo "Running telco benchmark ..."
        python benchmark/telco_fractions.py -n 250
        date; echo "Running micro benchmarks ..."
        python benchmark/microbench.py create pidigits
        date; echo "Done."

  Linux:

    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false

      matrix:
        image:
          - manylinux_2_24_i686
          - manylinux_2_24_x86_64
          - manylinux_2_34_x86_64
          - musllinux_1_1_x86_64
          - musllinux_1_2_x86_64
        pyversion: ["cp"]

        include:
          - image: manylinux_2_24_aarch64
            pyversion: "cp38"
          - image: manylinux_2_24_aarch64
            pyversion: "cp39"
          - image: manylinux_2_24_aarch64
            pyversion: "cp310"
          - image: manylinux_2_24_aarch64
            pyversion: "cp311"
          - image: manylinux_2_34_aarch64
            pyversion: "cp312"
          - image: manylinux_2_34_aarch64
            pyversion: "cp313"
          - image: manylinux_2_34_aarch64
            pyversion: "cp314"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: "3.12"

    - name: Install Dependency
      run: |
        python -m pip install -U pip setuptools && python -m pip install --pre -r requirements.txt

    - name: Building wheel
      run: |
        make PYTHON_WHEEL_BUILD_VERSION="${{ matrix.pyversion }}*" sdist wheel_${{ matrix.image }}

    - name: Copy wheels in dist
      run: cp -v wheelhouse*/*-m*linux*.whl dist/  # manylinux / musllinux

    - name: Archive Wheels
      uses: actions/upload-artifact@v5
      with:
        name: wheels-${{ matrix.image }}-${{ matrix.pyversion }}
        path: dist/*.whl
        if-no-files-found: ignore

  non-Linux:
    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false

      matrix:
        os: [macos-latest, windows-latest]
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.13t"
          - "3.14"
          - "3.14t"
          - "3.15-dev"
          - "3.15t-dev"

        #include:
        #  - python-version: "3.15-dev"
        #    allowed_failure: true

    runs-on: ${{ matrix.os }}
    env: { MACOSX_DEPLOYMENT_TARGET: 11.0 }

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Set up Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install -U pip setuptools wheel
        python -m pip install --pre -r requirements.txt

    - name: Build wheels
      run: make sdist wheel

    - name: Run slow tests
      run: make testslow

    - name: Upload wheels
      uses: actions/upload-artifact@v5
      with:
        name: wheels-${{ matrix.os }}-${{ matrix.python-version }}
        path: dist/*.whl
        if-no-files-found: ignore

    - name: Running benchmark
      run: |
        # Run different benchmarks.
        date; echo "Running telco benchmark ..."
        python benchmark/telco_fractions.py -n 250
        date; echo "Running micro benchmarks ..."
        python benchmark/microbench.py create pidigits
        date; echo "Done."

  merge-wheels:
    needs: [ Linux, non-Linux ]
    runs-on: ubuntu-latest

    steps:
    - name: Merge wheels
      uses: actions/upload-artifact/merge@v5
      with:
        name: all_wheels
        pattern: wheels-*
        delete-merged: true
        compression-level: 9
