name: Wheel build

on:
  release:
    types: [created]
  schedule:
  #        ┌───────────── minute (0 - 59)
  #        │  ┌───────────── hour (0 - 23)
  #        │  │ ┌───────────── day of the month (1 - 31)
  #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
  #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
  #        │  │ │ │ │
  - cron: "42 3 * * 4"
  push:
    paths:
      - .github/workflows/wheels.yml
      - requirements.txt
      - pyproject.toml
      - MANIFEST.in
      - Makefile
      - setup.py
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - .github/workflows/wheels.yml
      - requirements.txt
      - pyproject.toml
      - MANIFEST.in
      - Makefile
      - setup.py
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  sdist:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.1

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.x"

    - name: Install Python dependencies
      run: python -m pip install -U pip setuptools wheel && python -m pip install -U -r requirements.txt

    - name: Build sdist
      run: make sdist

    - name: Upload sdist
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: sdist
        path: dist/*.tar.gz

  generate-wheels-matrix:
    # Create a matrix of all architectures & versions to build.
    # This enables the next step to run cibuildwheel in parallel.
    # From https://iscinumpy.dev/post/cibuildwheel-2-10-0/#only-210
    name: Generate wheels matrix
    runs-on: ubuntu-latest
    outputs:
      include: ${{ steps.set-matrix.outputs.include }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Install cibuildwheel
        # Nb. keep cibuildwheel version pin consistent with job below
        run: pipx install cibuildwheel==3.3.0
      - id: set-matrix
        run: |
          MATRIX=$(
            {
              cibuildwheel --print-build-identifiers --platform linux \
              | jq -nRc '{"only": inputs, "os": "ubuntu-latest"}' \
              | sed -e '/aarch64\|armv7l/s|ubuntu-latest|ubuntu-24.04-arm|' \
              && cibuildwheel --print-build-identifiers --platform macos \
              | jq -nRc '{"only": inputs, "os": "macos-latest"}' \
              && cibuildwheel --print-build-identifiers --platform windows \
              | jq -nRc '{"only": inputs, "os": "windows-2022"}' \
              && cibuildwheel --print-build-identifiers --platform windows --archs ARM64 \
              | jq -nRc '{"only": inputs, "os": "windows-11-arm"}'
            } | jq -sc
          )
          echo "include=$MATRIX" >> $GITHUB_OUTPUT

  build_wheels:
    name: Build ${{ matrix.only }}
    needs: generate-wheels-matrix
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.generate-wheels-matrix.outputs.include) }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6.0.1

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        with:
          only: ${{ matrix.only }}

      - name: Build faster Linux wheels
        # also build wheels with the most recent manylinux images and gcc
        if: runner.os == 'Linux' && !contains(matrix.only, 'i686')
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_34
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_34  # manylinux_2_39 ?
          CIBW_MANYLINUX_ARMV7L_IMAGE: manylinux_2_35
          CIBW_MANYLINUX_PPC64LE_IMAGE: manylinux_2_34
          CIBW_MANYLINUX_S390X_IMAGE: manylinux_2_34
          CIBW_MANYLINUX_RISCV64_IMAGE: manylinux_2_39
          CIBW_MANYLINUX_PYPY_X86_64_IMAGE: manylinux_2_34
          CIBW_MANYLINUX_PYPY_AARCH64_IMAGE: manylinux_2_34
          CIBW_MUSLLINUX_X86_64_IMAGE: musllinux_1_2
          CIBW_MUSLLINUX_AARCH64_IMAGE: musllinux_1_2
          CIBW_MUSLLINUX_PPC64LE_IMAGE: musllinux_1_2
          CIBW_MUSLLINUX_S390X_IMAGE: musllinux_1_2
        with:
          only: ${{ matrix.only }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.only }}

  merge_wheels:
    name: Merge wheel archives
    needs: build_wheels
    runs-on: ubuntu-latest

    steps:
    - name: Merge wheels
      uses: actions/upload-artifact/merge@v5
      with:
        name: all_wheels
        pattern: wheels-*
        delete-merged: true
        compression-level: 9

  upload_release_assets:
    name: Upload packages
    needs: [ sdist, merge_wheels ]
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'

    permissions:
      contents: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6.0.1

      - name: Download files
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: ./dist_downloads
          merge-multiple: true

      - name: List downloaded artifacts
        run: ls -la ./dist_downloads

      - name: Deduplicate wheels
        run: python3 dedup_wheels.py -d ./dist_downloads

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist_downloads/*
